<%= form_tag url_for(:controller => 'toolbawks/auth', :action => 'reset_password', :token => params[:token]), :method => 'post', :class => 'toolbawks_auth_reset_password' %>
  <div class="field_row clearfix password">
    <%= form_input(:object => @toolbawks_user, :input => password_field(:toolbawks_user, :password), :name => 'Please enter a new password:') %>
    <div id="toolbawks_user_password_strength_slider" class="strength_slider"><div id="toolbawks_user_password_strength_slider_handle" class="strength_slider_handle"></div></div>
  </div>
  <div class="field_row clearfix password_confirmation">
    <%= form_input(:object => @toolbawks_user, :input => password_field(:toolbawks_user, :password_confirmation), :name => 'Confirm the password:') %>
  </div>
  <div class="submit"><%= submit_tag 'Submit the changes' %></div> 
</form>