<%= form_tag '/forgot_password', :method => 'post', :class => 'toolbawks_auth_forgot_password' %>
  <div class="field_row clearfix email">
    <%= form_input(:object => @toolbawks_user, :input => text_field(:toolbawks_user, :email), :name => 'My e-mail is:') %>
  </div>
  <%= submit_tag 'Get Forgotten Password' %>
</form>